<!DOCTYPE html>
<html>
<head>
  <title>Messenger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

  <header>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  </header>
  <%= yield %>

</body>
</html>
