<h1>Chats</h1>

<% if @chats.any? %>
  <ul>
    <% @chats.each do |chat| %>
      <li>
        <%= link_to chat.users.last.email, chat_messages_path(chat) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You currently have no chats.</p>
<% end %>

<% if @users_without_chats.any? %>
  <h2>You can start a chat with:</h2>
  <ul>
    <% @users_without_chats.each do |user| %>
      <li>
        <%= button_to user.email, chats_path, params: { user_id: user.id } %>
      </li>
    <% end %>
  </ul>
<% end %>
