<h1>Chats</h1>

<% if @chats.any? %>
  <ul>
    <% @chats.each do |chat| %>
      <li>
        <%= link_to chat.users.last.email, chat_messages_path(chat) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You currently have no chats.</p>
<% end %>
